* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button {
    border-radius: .3rem;
    height: 30%;
    width: 60%;
    border: 2px solid #1A132F;
    background-color: #1A132F;
    color: #FDF6EC;
    cursor: pointer;
}

button:hover{
    border: 2px solid #C74B50;
}

.button-selected{
    background-color: #C74B50;
}

#nav {
    width: 100vw;
    height: 15vh;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(7, 1fr);
}

#array {
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: flex-end;
}

input, label {
    display:block;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 60%;
    background: #1A132F;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #C74B50;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1A132F;
}

.block {
    height: 20px;
    background-color: darkred;
    margin: 2px;
}
